@page
@model hs.HistoryFetch.Web.Pages.Games.IndexModel
@section scripts
    {
    <abp-script src="/Pages/Games/Index.js" />
}
<input type="button"  onclick="fetchALlGames()" value="抓取游戏列表"/>

<div>
   游戏Id： <input type="text" value="7" id="gameId" />抓取天数：<input type="text" value="30" id="days" />
    开始页数：<input type="text" value="1" id="startPage" />
    <input type="button" onclick="fetchALlSales()" value="抓取交易记录" />
    <span id="result"></span>
</div>
@{
}
